.App {
  text-align: center;
} 
nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
   background: rgb(25, 0, 255);
   color: rgb(187, 174, 174);
}
.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}